h1 {
  color: chartreuse;
  text-align: center;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}
img {
  width: 300px;
  height: 275px;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #333333;
  color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table tr:hover {
  background-color: #eee;
}
